/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

/* Generics */

.w-30 {
    width: 30%;
    
}
.box {
    border: 2px dashed black;
}



.flex-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
}

.footer-label {
    background-color: #ffb6c1;
    height: 50px;
    padding: 10px;
}

/* Utils */

.w-70 {
    width: 70%;   
}

/* Header  */

header {
    background-color: #add8e6;
    height: 100px;
    display: flex;
}

.header-flex-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#logo, #login {
    background-color: #daa520;
    min-height: 50%;
    border: 2px dashed black;
    display: flex;   
    align-items: center;
    
}

#login {
    justify-content: flex-end;   
}

#link {
    background-color: #daa520;
    border: 2px dashed black; 
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Main sections  */

.blue-container {
    height: 500px;
    background-color: #00008b;
}

.flex-blue-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink {
    background-color: #ee82ee;
    width: 80%;
    height: 80%;
}

.white-container {
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azurine {
    background-color: #1e90ff;
    width: 65%;
    height: 80%;
}

.rosaceous {
    background-color: #ffc0cb;
    width: 35%;
    height: 80%;
}

.gray-container {
    height: 600px;
    background-color: #d3d3d3;
}

.gray-huge-container {
    height: 1000px;
    background-color: #d3d3d3;
}

.huge-green {
    width: 100%;
    height: 90%;
    background-color: #228b22;

}

.black-container {
    height: 600px;
    background-color: #23272a;
    border-bottom: 2px solid white;
}

.lightcoral {
    background-color: #f08080;
    width: 30%;
    height: 85%;
}

.water {
    background-color: #20b2aa;
    width: 70%;
    height: 85%;
    display: flex;
}

.small-water {
    width: calc(100% / 4);
    border: 2px dashed #eeeeee;
}

/* Footer  */

footer {
    height: 125px;
    background-color: #23272a;
}

.footer-flex-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

.footer-wrapper {
    height: 75%;
    width: 100%;
    background-color: #7fffd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

